[submodule "fuel/core"]
	path = fuel/core
	url = https://github.com/fuel/core
[submodule "fuel/packages/orm"]
	path = fuel/packages/orm
	url = https://github.com/fuel/orm
[submodule "fuel/packages/oil"]
	path = fuel/packages/oil
	url = https://github.com/fuel/oil
[submodule "fuel/packages/auth"]
	path = fuel/packages/auth
	url = https://github.com/fuel/auth
[submodule "fuel/packages/email"]
	path = fuel/packages/email
	url = https://github.com/fuel/email
[submodule "fuel/packages/parser"]
	path = fuel/packages/parser
	url = https://github.com/fuel/parser
[submodule "fuel/app"]
	path = fuel/app
	url = https://github.com/TeamPalmTree/cloudcast
[submodule "fuel/packages/getid3"]
	path = fuel/packages/getid3
	url = https://github.com/TeamPalmTree/getid3
[submodule "fuel/packages/cemw"]
	path = fuel/packages/cemw
	url = https://github.com/TeamPalmTree/cemw
[submodule "fuel/packages/shared"]
	path = fuel/packages/shared
	url = https://github.com/TeamPalmTree/shared
[submodule "public/assets/shared"]
	path = public/assets/shared
	url = https://github.com/TeamPalmTree/assets.git
[submodule "fuel/packages/less"]
	path = fuel/packages/less
	url = https://github.com/TeamPalmTree/fuel-less
[submodule "fuel/packages/ichook"]
	path = fuel/packages/ichook
	url = https://github.com/TeamPalmTree/ichook
[submodule "fuel/packages/tagscanner"]
	path = fuel/packages/tagscanner
	url = https://github.com/TeamPalmTree/cloudcast-tagscanner.git
[submodule "fuel/packages/lshook"]
	path = fuel/packages/lshook
	url = https://github.com/TeamPalmTree/cloudcast-lshook
[submodule "liquidsoap"]
	path = liquidsoap
	url = https://github.com/TeamPalmTree/cloudcast-liquidsoap.git
