[submodule "fuel/packages/shared"]
	path = fuel/packages/shared
	url = https://github.com/TeamPalmTree/shared
[submodule "fuel/packages/tagscanner"]
	path = fuel/packages/tagscanner
	url = https://github.com/TeamPalmTree/cloudcast-tagscanner
[submodule "fuel/packages/lshook"]
	path = fuel/packages/lshook
	url = https://github.com/TeamPalmTree/cloudcast-lshook
[submodule "fuel/app"]
	path = fuel/app
	url = https://github.com/TeamPalmTree/cloudcast
[submodule "liquidsoap"]
	path = liquidsoap
	url = https://github.com/TeamPalmTree/cloudcast-liquidsoap
[submodule "fuel/packages/cemw"]
	path = fuel/packages/cemw
	url = https://github.com/TeamPalmTree/cemw
[submodule "public/assets/shared"]
	path = public/assets/shared
	url = https://github.com/TeamPalmTree/assets
[submodule "fuel/packages/ichook"]
	path = fuel/packages/ichook
	url = https://github.com/TeamPalmTree/ichook
[submodule "fuel/packages/promoter"]
	path = fuel/packages/promoter
	url = https://github.com/TeamPalmTree/authority-promoter
	branch = master
[submodule "fuel/core"]
	path = fuel/core
	url = https://github.com/fuel/core
	branch = 1.7/master
[submodule "fuel/packages/auth"]
	path = fuel/packages/auth
	url = https://github.com/fuel/auth
	branch = 1.7/master
[submodule "fuel/packages/email"]
	path = fuel/packages/email
	url = https://github.com/fuel/email
	branch = 1.7/master
[submodule "fuel/packages/oil"]
	path = fuel/packages/oil
	url = https://github.com/fuel/oil
	branch = 1.7/master
[submodule "fuel/packages/parser"]
	path = fuel/packages/parser
	url = https://github.com/fuel/parser
	branch = 1.7/master
[submodule "fuel/packages/orm"]
	path = fuel/packages/orm
	url = https://github.com/fuel/orm
	branch = 1.8/develop
[submodule "fuel/packages/mixingwheel"]
	path = fuel/packages/mixingwheel
	url = https://github.com/TeamPalmTree/mixingwheel.git
